@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: medium;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.cap {
  text-transform: capitalize;
}

.upp {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
}

.container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.container1 {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 200px;
  height: 62px;
  padding-left: 31px;
  border-radius: 5px;
  font-size: 12.8px;
}

.first-section {
  position: relative;
  max-width: 1440px;
  min-height: 713px;
  margin: 0 auto;
  padding: 250px 0 200px 0;
  background-image: url(../images/Morten%20Harket.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-section__sub-title {
  margin-top: 16px;
  font-size: 16px;
}

.first-section__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 48px;
}

.first-section__btn-mix {
  background-color: #5328a1;
}

.first-section__btn-mix::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/play-button.svg);
  background-repeat: no-repeat;
  content: "";
  filter: invert(100%);
}

.first-section__btn-favorite {
  background-color: #95390c;
}

.first-section__btn-favorite::before {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  background-repeat: no-repeat;
  background-image: url(../images/heart.svg);
  content: "";
}

@media (max-width: 420px) {
  .first-section__title {
    margin-top: 53px;
  }
  .first-section__buttons-container {
    display: flex;
    flex-direction: column;
  }
}

.header {
  position: absolute;
  top: 25px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  text-transform: uppercase;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
}

.header__logo {
  display: flex;
  flex-direction: row;
  margin-right: 90px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.header__logo-img {
  width: 24px;
  height: 24px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  align-items: center;
  gap: 24px;
}

.header__search-input {
  min-width: 240px;
  height: 25px;
  padding-left: 2px;
  border-radius: 12.5px;
  background-color: #3c3b3d;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
  }
}

@media (max-width: 420px) {
  .header {
    width: 374px;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
  }
  .header__search-input {
    width: 100%;
  }
}

.popular__columns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 48px;
  row-gap: 25px;
}

.popular__title {
  margin-top: 100px;
}

.popular__track-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-right: 50px;
}

.popular__track {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.popular__track-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular__img {
  width: 55px;
  height: 55px;
}

.popular__track-name {
  font-weight: bold;
  font-size: 12.8px;
  text-transform: uppercase;
}

.popular__track-artist, .popular__time {
  font-size: 12.8px;
}

@media (max-width: 420px) {
  .popular__columns-container {
    display: flex;
    flex-direction: column;
  }
  .popular__track-container {
    width: 100%;
    padding-right: 0;
  }
}

.discography__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 50px;
  margin-top: 48px;
}

.discography__title {
  margin-top: 100px;
}

.discography__img {
  width: 250px;
  height: 250px;
}

.discography__album-title {
  margin-top: 11px;
  font-weight: bold;
  letter-spacing: -0.01em;
}

.discography__year {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 420px) {
  .discography__img {
    width: 137px;
    height: 137px;
  }
  .discography__album {
    max-width: 137px;
  }
}
