@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: medium;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.cap {
  text-transform: capitalize;
}

.upp {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}

.container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-size: 13.3px;
}

.first-section {
  position: relative;
  max-width: 1440px;
  min-height: 713px;
  margin: 0 auto;
  padding: 200px 0 200px 0;
  background-image: url(../images/Morten%20Harket.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-section__title {
  margin-top: 50px;
}

.first-section__sub-title {
  margin-top: 16px;
  font-size: 16px;
}

.first-section__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-top: 48px;
}

.first-section__btn {
  width: 200px;
  padding: 20px 30px;
  font-size: 12.8px;
  text-transform: uppercase;
  column-gap: 15px;
}

.first-section__btn_mix {
  background-color: #5328a1;
}

.first-section__btn_favorite {
  background-color: #95390c;
}

.first-section__icon {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

@media (max-width: 420px) {
  .first-section {
    padding: 200px 0 200px 0;
  }
  .first-section__title {
    margin-top: 25px;
  }
  .first-section__buttons-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  z-index: 50;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  column-gap: 23px;
}

.header__search-input {
  min-width: 248px;
  height: 25px;
  margin-left: auto;
  padding-left: 10px;
  border-radius: 12.5px;
  background-color: #3c3b3d;
}

@media (max-width: 800px) {
  .header__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-left: 0;
  }
  .header__search-input {
    margin-top: 17px;
    margin-left: 0;
  }
}

@media (max-width: 420px) {
  .header__search-input {
    width: 100%;
  }
}

.popular {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}

.popular__columns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 48px;
  row-gap: 25px;
}

.popular__track-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-right: 50px;
}

.popular__track {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.popular__track-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular__img {
  width: 55px;
  height: 55px;
}

.popular__track-name {
  font-weight: bold;
  font-size: 12.8px;
  text-transform: uppercase;
}

.popular__track-artist, .popular__time {
  font-size: 12.8px;
}

@media (max-width: 420px) {
  .popular__columns-container {
    display: flex;
    flex-direction: column;
  }
  .popular__track-container {
    width: 100%;
    padding-right: 0;
  }
}

.discography {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}

.discography__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 50px;
  margin-top: 48px;
}

.discography__img {
  width: 250px;
  height: 250px;
}

.discography__album-title {
  margin-top: 11px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

.discography__year {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 420px) {
  .discography__img {
    width: 137px;
    height: 137px;
  }
  .discography__album {
    max-width: 137px;
  }
}

.subscribe {
  padding: 200px 0;
  text-align: center;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.subscribe__description {
  margin-top: 33px;
  font-size: 16px;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5rem;
  max-width: 570px;
  margin: 16px auto 0;
}

.subscribe__input {
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', serif;
}

.subscribe__button {
  flex-grow: 1;
  min-height: 50px;
  padding: 22px;
  border-radius: 5px;
  color: white;
  font-size: 13.3px;
  text-transform: uppercase;
  background-color: #34c176;
}

@media (max-width: 420px) {
  .subscribe {
    padding: 200px 0  200px;
  }
  .subscribe__title {
    margin-top: 47px;
  }
  .subscribe__description {
    margin-top: 17px;
  }
  .subscribe__input {
    flex-grow: 1;
  }
}

.pricing {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
  text-align: center;
}

.pricing__card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
  column-gap: 50px;
}

.pricing__card {
  width: 367px;
  height: 615px;
  padding: 1.5rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.pricing__card_free {
  background-image: url(../images/subscribe_1.png);
}

.pricing__card_standart {
  background-image: url(../images/subscribe_2.png);
}

.pricing__card_premium {
  background-image: url(../images/subscribe_3.png);
}

.pricing__card-title {
  font-weight: 400;
  text-transform: uppercase;
}

.pricing__price {
  margin-top: 188px;
  font-size: 64px;
  line-height: 1em;
}

.pricing__price-currency {
  font-size: 0.5em;
  text-transform: uppercase;
  vertical-align: super;
}

.pricing__button {
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  margin-top: 38px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.pricing__description {
  margin-top: 63px;
  font-size: 12.8px;
  letter-spacing: 0.01em;
}

.pricing__common-description {
  margin-top: 40px;
  font-size: 16px;
}

@media (max-width: 420px) {
  .pricing__card-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .pricing__card {
    width: 374px;
    height: 595px;
    padding: 1rem 1.5rem 0;
  }
}

.news {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}

.news__title {
  text-align: center;
}

.news__container {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  row-gap: 65px;
}

.news__wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.news__img {
  width: 50%;
}

.news__description {
  width: 50%;
}

.news__description-title {
  font-weight: normal;
  font-size: 30px;
  text-transform: capitalize;
}

.news__description-text {
  margin-top: 30px;
  font-size: 16px;
}

.news__description-author {
  display: flex;
  margin-top: 24px;
  font-size: 12.8px;
  column-gap: 16px;
}

.news__author-name {
  color: #f89202;
}

.news__button {
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 53px;
  margin-top: 48px;
  padding: 16px 30px;
}

@media (max-width: 420px) {
  .news__container {
    flex-direction: column;
  }
  .news__wrapper {
    flex-direction: column;
    row-gap: 50px;
  }
  .news__img {
    width: 100%;
  }
  .news__description {
    width: 100%;
  }
  .news__description-title {
    font-size: 16px;
  }
  .news__description-text {
    margin-top: 16px;
  }
  .news__wrapper_reverse {
    flex-direction: column-reverse;
  }
}

.mobile {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}

.mobile__title {
  text-align: center;
}

.mobile__inner {
  display: flex;
  margin-top: 48px;
  column-gap: 42px;
}

.mobile__description {
  width: 50%;
  margin-top: 16px;
  font-size: 16px;
}

.mobile__text {
  margin-bottom: 16px;
  letter-spacing: -0.2px;
}

.mobile__button {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  background-color: #95390c;
}

.mobile__img-inner {
  width: 50%;
  text-align: center;
}

@media (max-width: 420px) {
  .mobile__inner {
    flex-direction: column-reverse;
  }
  .mobile__description {
    width: 100%;
    margin-top: 9px;
  }
  .mobile__img-inner {
    justify-content: center;
    width: 100%;
  }
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 120px 4.6rem;
  font-size: 16px;
  column-gap: 40px;
}

.footer__menu-title {
  margin: 14px 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__sub-menu {
  display: flex;
  flex-direction: column;
}

.footer__icon {
  padding: 3px 20px 3px 0;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 120px 3rem;
  border-top: 1px solid #e0e0e0;
  font-size: 16px;
  column-gap: 15px;
}

@media (max-width: 420px) {
  .footer__top {
    display: flex;
    flex-direction: column;
    padding: 3rem 20px 4.1rem;
    row-gap: 18px;
  }
  .footer__bottom {
    flex-direction: column;
    padding: 2.5rem 20px 3rem;
    row-gap: 16px;
  }
}

.similar {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}

.similar__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
  margin-top: 48px;
}

.similar__item {
  text-align: center;
}

.similar__info-title {
  margin-top: 11px;
  font-size: 18px;
  text-transform: capitalize;
}

.similar__info {
  font-weight: 200;
  font-size: 16px;
}

@media (max-width: 420px) {
  .similar__item {
    width: 137px;
  }
  .similar__img {
    width: 137px;
    height: 137px;
  }
}
