.first-section {
  position: relative;

  max-width: 1440px;
  min-height: 713px;
  margin: 0 auto;
  padding: 200px 0 200px 0;

  background-image: url(../images/Morten%20Harket.png);
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;

  &__title {
    margin-top: 50px;
  }

  &__sub-title {
    margin-top: 16px;

    font-size: $medium-text;
  }

  &__buttons-container {
    @include flex-row();
    gap: 24px;

    margin-top: 48px;
  }

  &__btn-mix {
    background-color: $accent-bg-color-3;

    &::before {
      width: 20px;
      height: 20px;

      background-image: url(../images/play-button.svg);
      background-repeat: no-repeat;
      filter: invert(100%);

      content: "";
    }
  }

  &__btn-favorite {
    background-color: $accent-bg-color-4;

    &::before {
      width: 20px;
      height: 20px;

      background-image: url(../images/heart.svg);

      background-repeat: no-repeat;

      filter: invert(100%);

      content: "";
    }
  }
}

@media (max-width: 420px) {
  .first-section {
    padding: 171px 0 224px 0;

    &__title {
      margin-top: 53px;
    }

    &__buttons-container {
      @include flex-col();
    }
  }
}
