.first-section {
  position: relative;

  max-width: 1440px;
  min-height: 713px;
  margin: 0 auto;
  padding: 200px 0 200px 0;

  background-image: url(../images/Morten%20Harket.png);
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;

  &__title {
    margin-top: 50px;
  }

  &__sub-title {
    margin-top: 16px;

    font-size: $medium-text;
  }

  &__buttons-container {
    @include flex-row();
    gap: 1.5em;

    margin-top: 48px;
  }

  &__btn {
    width: 200px;
    padding: 20px 30px;

    font-size: 12.8px;
    text-transform: uppercase;
    column-gap: 15px;
  }

  &__btn_mix {
    background-color: $accent-bg-color-3;
  }

  &__btn_favorite {
    background-color: $accent-bg-color-4;
  }

  &__icon {
    width: 20px;
    height: 20px;

    filter: invert(100%);
  }
}

@media (max-width: 420px) {
  .first-section {
    padding: 200px 0 200px 0;

    &__title {
      margin-top: 25px;
    }

    &__buttons-container {
      @include flex-col();
      padding-bottom: 25px;
    }
  }
}
