.footer {

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  &__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 120px 4.6rem;

    font-size: 16px;
    column-gap: 40px;
  }

  &__menu-title {
     margin: 14px 0;
  }

  &__sub-menu {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    padding: 3px 20px 3px 0;
  }

  &__menu-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    padding: 2.5rem 120px 3rem;
    border-top: 1px solid #e0e0e0;
    font-size: 16px;

    column-gap: 15px;
  }

  @media (max-width: 420px) {
    &__top {
      display: flex;
      flex-direction: column;
      padding: 3rem 20px 4.1rem;
      row-gap: 18px;
    }

    &__bottom {
      flex-direction: column;
      padding: 2.5rem 20px 3rem;
      row-gap: 16px;
    }
  }
}
