.header {
  position: absolute;
  top: 25px;

  left: 50%;
  z-index: 10;

  width: 100%;
  padding: 0 20px;

  font-size: 11px;
  text-transform: uppercase;

  transform: translateX(-50%);

  @include flex-row();

  &__logo {
    @include flex-row();
    flex-shrink: 0;
    gap: 16px;
    align-items: center;
    margin-right: 90px;
  }

  &__logo-img {
    width: 24px;
    height: 24px;
  }

  &__menu {
    @include flex-row();
    gap: 24px;
    align-items: center;
    margin-right: auto;
  }

  &__search-input {
    min-width: 240px;
    height: 25px;

    padding-left: 2px;

    border-radius: 12.5px;

    background-color: $sub-bg;
  }
}

@media (max-width: 800px) {
  .header {
    @include flex-col();
    row-gap: 17px;
  }
}

@media (max-width: 420px) {
  .header {
    width: 374px;

    &__menu {
      @include flex-col();
      gap: 0;
      align-items: flex-start;
    }

    &__search-input {
      width: 100%;
    }
  }
}
