@import "vars";
@import "mixins";

.header {
  @include flex-row();
  justify-content: space-between;
  font-size: 11px;
  text-transform: uppercase;

  &__logo {
    @include flex-row();
    margin-right: 90px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
  }

  &__logo-img {
    width: 24px;
    height: 24px;
  }

  &__menu {
    @include flex-row();
    flex-grow: 2;
    align-items: center;
    gap: 24px;
  }

  &__search-input {
    min-width: 240px;
    height: 25px;

    padding-left: 2px;

    border-radius: 12.5px;
    background-color: $sub-bg;
  }
}

@media (max-width: 800px) {
  .header {
    @include flex-col();
    row-gap: 17px;
  }
}

@media (max-width: 420px) {
  .header {
    &__menu {
      @include flex-col();
      gap: 0px;
      align-items: flex-start;
    }

    &__search-input {
      min-width: 240px;
      flex-grow: 1;
    }
  }
}