.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  z-index: 50;

  font-weight: bold;

  font-size: 11px;
  text-transform: uppercase;

  &__inner {
    @include flex-row;
    align-items: center;
    width: 100%;
  }

  &__logo {
    @include flex-row;
    align-items: center;
  }

  &__logo-img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  &__menu {
    @include flex-row;
    margin-left: 90px;

    column-gap: 23px;
  }

  &__search-input {
    min-width: 248px;
    height: 25px;
    margin-left: auto;
    padding-left: 10px;
    border-radius: 12.5px;

    background-color: $sub-bg;
  }

  @media (max-width: 800px) {
    &__inner {
      @include flex-col;
      align-items: start;
    }

    &__menu {
      @include flex-col;
      margin-top: 17px;
      margin-left: 0;
    }

    &__search-input {
      margin-top: 17px;
      margin-left: 0;
    }
  }

  @media (max-width: 420px) {
    &__search-input {
      width: 100%;
    }
  }
}
