@mixin heading() {
    font-weight: bold;
    text-transform: uppercase;
}

@mixin flex-row() {
    display: flex;
    flex-direction: row;
}

@mixin flex-col() {
    display: flex;
    flex-direction: column;
}