@mixin heading() {
  font-weight: bold;
  text-transform: uppercase;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
}

@mixin transparent-border {
  border: 2px solid $muted-color-2;
  border-radius: 3px;

  background-color: rgba(0, 0, 0, 0);
}

@mixin container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}
