.mobile {
  @include container;

  &__title {
    text-align: center;
  }

  &__inner {
    display: flex;
    margin-top: 48px;

    column-gap: 42px;
  }

  &__description {
    width: 50%;
    margin-top: 16px;

    font-size: $medium-text;
  }

  &__text {
    margin-bottom: 16px;

    letter-spacing: -0.2px;
  }

  &__button {
    display: inline-block;
    padding: 16px 40px;
    border-radius: 32px;

    font-size: $small-text;

    background-color: $accent-bg-color-4;
  }

  &__img-inner {
    width: 50%;

    text-align: center;
  }

  @media (max-width: 420px) {

    &__inner {
      flex-direction: column-reverse;
    }

    &__description {
      width: 100%;
      margin-top: 9px;
    }

    &__img-inner {
      justify-content: center;
      width: 100%;
    }
  }
}
