.pricing {
  @include container;

  text-align: center;

  &__card-container {
    @include flex-row;
    justify-content: space-between;
    margin-top: 48px;

    column-gap: 50px;
  }

  &__card {
    width: 367px;
    height: 615px;
    padding: 1.5rem;
    border-radius: 1rem;

    background-repeat: no-repeat;
    background-size: cover;
  }

  &__card_free {
    background-image: url(../images/subscribe_1.png);
  }

  &__card_standart {
    background-image: url(../images/subscribe_2.png);
  }

  &__card_premium {
    background-image: url(../images/subscribe_3.png);
  }

  &__card-title {
    font-weight: 400;
    text-transform: uppercase;
  }

  &__price {
    margin-top: 188px;

    font-size: $big-text;
    line-height: 1em;
  }

  &__price-currency {
    font-size: 0.5em;
    text-transform: uppercase;
    vertical-align: super;
  }

  &__button {
    @include transparent-border;
    display: block;
    margin-top: 38px;
    padding-right: 30px;
    padding-left: 30px;

    font-size: $medium-text;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 63px;

    font-size: $small-text;
    letter-spacing: 0.01em;
  }

  &__common-description {
    margin-top: 40px;

    font-size: $medium-text;
  }

  @media (max-width: 420px) {
    &__card-container {
      @include flex-col;
      row-gap: 50px;
    }

    &__card {
      width: 374px;
      height: 595px;
      padding: 1rem 1.5rem 0;
    }
  }
}
