// colors
$main-color: #cacaca;
$main-bg: #08020d;
$muted-color-1: #e0e0e0;
$muted-color-2: #cacaca;
$sub-bg: #3c3b3d;
$accent-bg-color-1: #34c176;
$accent-bg-color-2: #f89202;
$accent-bg-color-3: #5328a1;
$accent-bg-color-4: #95390c;

//text sises
$base-size: 18px;
$big-text: 64px;
$medium-text: 16px;
$small-text: 12.8px;
$h1: 60px;
$h2: 38px;
$h3: 24px;
$h4: 18px;

//mobile text sises
$h1-mobile: 30px;
$h2-mobile: 18px;
