@import "vars";
@import "mixins";
@import "first-section";

@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: medium;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
}

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #fff;

  font-size: $base-size;
  font-family: 'Roboto', serif;

  line-height: 1.5;

  background-color: $main-bg;
}

h1 {
  font-size: $h1;

  line-height: 1.5;

  @include heading();
}

h2 {
  font-size: $h2;

  @include heading();
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

.cap {
  text-transform: capitalize;
}

.upp {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

@media (max-width: 414px) {
  h1 {
    font-size: $h1-mobile;
  }

  h2 {
    font-size: $h2-mobile;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
