// colors
$main-color: #cacaca;
$main-bg: #08020d;
$muted-color-1: #e0e0e0;
$muted-color-2: #cacaca;
$sub-bg: #3c3b3d;
$accent1-bg-color: #34C176;
$accent2-bg-color: #F89202;
$accent3-bg-color: #5328A1;
$accent4-bg-color: #95390C;

//text sises
$base-size: 18px;
$big-text: 3.56rem;
$medium-text: 0.89rem;
$small-text: 0.71rem;
$h1: 3.34rem;
$h2: 2.11rem;
$h3: 1.33rem;
$h4: 1rem;

//mobile text sises
$h1-mobile: 1.67rem;
$h2-mobile: 1rem;